{% extends 'base.html' %}

{% block content %}

<style>
    .calendar {
        display: flex;
        margin: 0 10px;
    }

    p {
        margin: 0 20px;
    }

    strong {
        color: #000;
        font-weight: 700;
    }

    em {
        font-style: italic;
    }

    span {
        margin: 0 20px;
    }

    .username-and-logout {
        display: flex;
        align-items: center;
    }

    .day {
        flex-direction: column;
        display: flex;
        flex: 1;
    }

    .slot {
        display: flex;
        height: 60px;
        margin: 0 0 10px 0;
    }

    .event {
        flex: 1;
        cursor: default;
        color: #000;
        background-color: #ccc;
        border-radius: 4px;
        padding: 10px 15px;
        margin: 0 5px;
        display: flex;
        flex-direction: column;
    }

    .title {
        font-size: 17px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .time {
        font-size: 13px;
        opacity: 0.6;
        margin-top: 5px;
    }
</style>

<div class="content">
    <div class="navigation">
        <a href="#" class="button">Next week</a>
        {% if user.is_authenticated %}
            <div class="username-and-logout">
                <span>Logged in as <strong>{{ user.get_username }}</strong></span>
                <a href="{% url 'logout' %}" class="button">Logout</a>
            </div>
        {% else %}
            <a href="{% url 'login' %}" class="button">Login</a>
        {% endif %}
    </div>
    {% if user.is_authenticated %}
        {% if days %}
        <div class="calendar">
            {% for day in days %}
            <div class="day">
                {% for slot in day %}
                <div class="slot">
                    {% for event in slot %}
                    <div class="event no-select">
                        <span class="title">{{ event.subject.name }}</span>
                        <span class="time">{{ event.timespan }}</span>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        {% else %}
            <p>There is nothing to do</p>
        {% endif %}
    {% else %}
        <p>Log in to see your plan</p>
    {% endif %}
</div>
{% endblock %}