{% extends 'base.html' %}

{% block content %}
<style>
    label {
        display: inline-block;
    }
    input[type=radio],
    input[type=checkbox] {
        display: none;
    }

    .input-line {
        display: flex;
        align-items: center;
        padding: 10px 0;
    }

    .checkmark {
        position: absolute;
        height: 21px;
        width: 21px;
        border-radius: 4px;
        background-color: #eee;
    }

    .input-line input[type=checkbox]:checked ~ .checkmark {
        background-color: #0050ff;
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    .input-line input[type=checkbox]:checked ~ .checkmark:after {
        display: block;
    }

    .input-line .checkmark:after {
        left: 6px;
        top: 3px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .input-line span {
        color: #333;
        font-size: 15px;
        margin-left: 30px;
    }

    .custom-select {
        position: relative;
    }

    .custom-select select {
        display: none;
    }

    .select-selected {
        border-radius: 4px;
        background-color: #eee;
    }

    /*style the arrow inside the select element:*/
    .select-selected:after {
        position: absolute;
        content: "";
        top: 15px;
        right: 10px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-color: #777 transparent transparent transparent;
    }

    .select-selected.select-arrow-active:after {
        border-color: transparent transparent #777 transparent;
        top: 8px;
    }

    .select-items div,.select-selected {
        color: #333;
        padding: 8px 16px;
        cursor: pointer;
    }

    .select-items {
        border-radius: 4px;
        margin: 4px 0 0 0;
        padding: 4px 0;
        position: absolute;
        background-color: #eee;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 99;
    }

    .select-hide {
        display: none;
    }

    .select-items div:hover, .same-as-selected {
        background-color: rgba(0, 0, 0, 0.1);
    }
</style>
<div class="content">
    <div class="navigation">
        <a href="/report_change" class="button">Back to reports</a>
        <a href="{% url 'logout' %}" class="button">Logout</a>
    </div>
    <div class="regular-content">
        <form method="post">
            {% csrf_token %}
            <label class="input-line">
                <input type="text" placeholder="2018-01-01">
            </label>
            <label class="input-line">
                <input type="text" placeholder="2018-01-01">
            </label>
            <label class="input-line">
                <input type="text" placeholder="00:00">
            </label>
            <label class="input-line">
                <input type="text" placeholder="00:00">
            </label>
            <div class="custom-select">
                <select>
                    <option value="0">Monday</option>
                    <option value="1">Tuesday</option>
                    <option value="2">Wednesday</option>
                    <option value="3">Thursday</option>
                    <option value="4">Friday</option>
                </select>
            </div>
            <label class="input-line">
                <input type="checkbox">
                <div class="checkmark"></div>
                <span>Only once</span>
            </label>
            <button type="submit">Report change</button>
        </form>
    </div>
</div>

{% load static %}
<script src="{% static "select.js" %}"></script>

{% endblock %}