{% extends 'base.html' %}

{% block content %}
<style>
    .regular-content {
        display: flex;
        flex-direction: column;
    }

    .button-row {
        display: flex;
        margin: 0 0 20px 0;
    }
</style>
<div class="content">
    <div class="navigation">
        <a href="/" class="button">Back to calendar</a>
        <a href="{% url 'logout' %}" class="button">Logout</a>
    </div>
    <div class="regular-content">
        <h2>Change Requests</h2>
        <div class="button-row">
            <a href="/" class="button">New request</a>
        </div>
        {% for request in change_requests %}
            <div
                class="change-request"
                style="opacity: {{ request.accepted|yesno:'0.4,0.4,1' }}"
            >
                <div>Requested by <strong>{{ request.author }}</strong></div>
                <div>
                    {{ request.description|safe }}
                </div>
                <div class="buttons">
                    <form action="/change_request/{{ request.id }}/accept/" method="post" class="button-form">
                        {% csrf_token %}
                        <button class="accept" type="submit">Accept</button>
                    </form>
                    <form action="/change_request/{{ request.id }}/decline/" method="post" class="button-form">
                        {% csrf_token %}
                        <button class="decline" type="submit">Decline</button>
                    </form>
                    <div class="state">{{ request.accepted|yesno:'Accepted,Declined,' }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}